@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{

    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;

}

*{

    margin: 0;
    padding: 0;
}

/* ----------------------
home section start here 
------------------------*/
.home-banner{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1440px;
    height: 677px;
    background-color: #2D25A0;
    margin-bottom: 240px;
}
.title{

    font-size:64px ;
    font-weight: 700;
    Width:485px;
    Height:230px;
    margin-top: 207px;
    margin-left: 156px;
    line-height: 80px;
}
.home-title{
    margin-right:102px;
}
.btn-type{
    margin-top:27px;
    margin-left: 156px;
    padding: 10px 24px;
    width: 168px;
    height: 44px;
    font-size:16px;
    font-weight:500px;
    text-align: center;
    background-color: #E02C6D;
    color: #FFFFFF;
}
.btn-type a{
    text-decoration: none;
}
.home-img img{
  
    width: 556.01px;
    height: 438px;
    margin-top: 153px;
    margin-right: 140px;
    margin-bottom: 86px;
  
}

/* ----------------------
home section End here 
------------------------*/


/* --------------------------------
player-gallery section start here 
----------------------------------*/

.container{
    
    margin-top: -180px;
    background-color:#FFFFFF;
}
.container-2{
    background-color:#FFFFFF;
    margin-top: 20px;
}

.player-gallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    margin-left: 120px;
    margin-right: 120px;
    
}

.player{
    width: 330px;
    height: 450px; 
    border: 1px solid rgb(255, 255, 255);
    margin: 20px;
    box-shadow: rgba(15, 15, 27, 0.2) 0px 7px 29px 0px;
    background-color:#FFFFFF;
}
.player-img img{
    width: 310px;
    height: 206px;
    border-radius: 5px;
    padding: 10px;
}

.player-name{
    padding: 15px;
}
.player-info{
    padding: 15px;
}
/* --------------------------------
player-gallery section End here 
----------------------------------*/


/* -------------------------------
timetable section start here 
----------------------------------*/


.copa-TimeTable{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 70px;
}
.copa-img img{
    width: 530px;
    height: 345px;
    margin-right: 100px;
    margin-left: 40px;
    border-radius: 25px;
}

table{
    margin-left: 140px;
    border-collapse: collapse;
    border: 1px solid silver;
    background-color: #161A6C;
    border-radius: 10px;
    color: white;
   
    height: 270px;
}
th{
    font-size: 25px;
    font-weight: 700;

}
td{
    padding: 15px;

  }

 /* -------------------------------
timetable section start here 
----------------------------------*/

/* --------------------------------
Ticket order section start here
-----------------------------------*/

.ticket-order h1{

    font-size: 30px;
    font-family: monospace;
    font-weight: 700;
    text-align: center;
    margin-top: 80px;
}

.ticket-confirm{

   display: grid;
   grid-template-columns: repeat(2,1fr);
   margin-top: 80px;


}
.ticket-img img{
    width: 500px;
    height: 415px;
    margin-left: 140px;
    border-radius: 10px;

}
.ticket-info{

    margin-right: 120px;
    padding: 10px;
    border-radius: 10px;
    background-color: #2F4C47;
    color: white;

}

.btn{
  
    padding: 5px;
    border-radius: 5px;
    
}



/* --------------------------------
Ticket order section End here
-----------------------------------*/


/* --------------------------------
footer section start here 
----------------------------------*/

.footer-section{
    margin-top: 158px;
    background-color: #FFFFFF;
}
.footer-img img{
    width: 483.87px;
    height: 110px;
   margin-left: 475px;
   margin-right: 481px;
   margin-bottom: 20px;
  
}
.social{
    margin-left: 45%;
    margin-bottom: 1%;
   
}
.social ul{
    list-style-type: none;
}
.social ul li{
    display: inline;
    padding: 1%;
}
.fab{
    font-size: 30px;
    
}
.social-para{
   
    margin-left: 600px;
    margin-right: 481px;
    font-size: 18px;
    font-weight: 400;
}

/* --------------------------------
footer section End here 
----------------------------------*/

/* --------------------------------
media querry sction start here 
-----------------------------------*/
@media only screen and(max-width:688px) {

    .home{
        width: 100%;
    }
    .home-banner{
        background-color: tomato;
        grid-template-columns: repeat(1,1fr);
    }
    
}